
@{
    ViewData["Title"] = "Bill";
}

<h1>Bill</h1>

<h2>Bill for Order # @ViewBag.OrderId</h2>

<div>
    <p><strong>Order ID:</strong> @ViewBag.OrderId</p>
    <p><strong>Bill Amount:</strong> $ @ViewBag.BillAmount</p>
</div>
