@model List<Assessment_1.Models.Customer>

<h2>Customers who Placed Orders on the Given Date. @ViewBag.OrderDate</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
    
            </tr>
        }
    </tbody>
</table>
